@mixin display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    header {
        padding: 10px;
        .wrap {
            @include display;
            flex-direction: column;
            align-items: center;
            margin: 0px;
            padding: 20px 20px 30px 20px;
            .menu {
                position: relative;
                width: 100%;
                min-height: 1px;
                top: 10px;
                right: 0;
                border: 0;
                border-radius: 0px;
                &::before {
                    display: none;
                }
            }
            .logo, .user {
                @include display;
                justify-content: center;
                width: 100%;
            }
            .user {
                p {
                    text-align: center;
                }
                .foto {
                    .settings {
                        div {
                            width: 40px;
                            height: 40px;
                            border: 2px solid;
                            font-size: 18px;
                        }
                        div:last-child {
                            bottom: -18px;
                            left: 50%;
                        }
                        div:first-child {
                            right: -28px;
                            top: 25%;
                        }
                    }
                }
                .social {
                    margin-top: 20px;
                    a {
                        width: 60px;
                        height: 60px;
                        margin: 6px;
                    }
                }
            }
        }
    }
    section {
        padding: 10px;
        article{
            .settings_wrap {
                margin-top: 0;
                > .box {
                    p {
                        justify-content: center;
                        align-items: flex-end;
                    }
                    flex-wrap: wrap;
                    > .body {
                        height: fit-content;
                        .lang {
                            flex-wrap: wrap;
                            justify-content: space-between;
                            button {
                                width: 46%;
                                margin: 5px 3px;
                            }
                        }
                        .localization {
                            button {
                                p {
                                    margin: 0;
                                }
                                padding: 5px;
                                span {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 10px;
    }
}