$mainColor: #5681bf;
$secondColor: #687c9a;
$thirdColor: #859fc4;
$fourthColor: #e4efff;
$fifthColor: #c0c0c0;

body {
    color: $mainColor;
    a {
        color: $mainColor;
    }
    header {
        .wrap {
            border-color: $fifthColor;
            .logo{
                span {
                    a {
                        background-color: $fourthColor;
                    }
                }
            }
        }
    }
    .back_wrap {
        .back_body {
            a {
                color: $mainColor;
                &:hover{
                    color: $secondColor;
                }
            }
        }
    }
    section {
        article{
            border-color: $fifthColor;
            .title_line {
                border-color: $secondColor;
            }
            .settings_wrap {
                .box {
                    border-color: $fifthColor;
                    .localization, .lang, .type, .color {
                        select, button {
                            border-color: $mainColor!important;
                            color: $mainColor!important;
                        }
                        div, button {
                            &:hover {
                                background-color: $fourthColor;
                            }
                        }
                        .active {
                            background-color: $fourthColor!important;
                            span {
                                background-color: $thirdColor;
                            }
                        }
                    }
                }
            }
        }
    }

}

input[type=range] {
    color: $mainColor;
}