$maxWidth: 1200px;

@mixin display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas: "header" "back" "section" "footer";
    grid-gap: 0px;
    min-width: 250px;
    margin: 0;
    padding: 0px;
    font: 14px cursive;
    header {
        grid-area: header;
        @include display;
        width: 100%;
        min-height: 100px;
        padding: 15px;
        .wrap {
            @include display;
            justify-content: space-between;
            position: relative;
            width: 100%;
            max-width: $maxWidth;
            border: 1px solid;
            border-radius: 15px;
            padding: 20px;
            margin: 15px 0px 0px 0px;
            .menu {
                display: none;
                flex-wrap: wrap;
                justify-content: center;
                position: absolute;
                min-width: 250px;
                min-height: 10px;
                max-width: 20px;
                opacity: 0;
                font-size: 3px;
                right: 80px;
                top: 130px;
                background-color: #fff;
                border: 2px solid;
                border-radius: 6px 0px 6px 6px;
                &::before {
                    content: '';
                    position: absolute;
                    top: -30px;
                    right: -11px;
                    width: 0px;
                    height: 0px;
                    border-right: 129px solid;
                    border-bottom: 14px solid;
                    border-top: 14px solid transparent;
                    border-left: 114px solid transparent;
                    transform: skew(-34deg);
                }
            }
            .menu_show{
                display: flex;
            }
            .logo, .user {
                @include display;
                align-items: center;
                width: 50%;
            }
            .logo{    
                justify-content: flex-start;
                span {
                    width: 64px;
                    height: 64px;
                    a {
                        display: block;
                        width: 64px;
                        height: 64px;
                        border: 5px solid;
                        border-radius: 8px;
                        font: bold 32px cursive;
                        text-decoration-line: none;
                        text-align: center;
                        line-height: 50px;
                    }
                }
                p {
                    margin: 0px 0px 0px 7px;
                    a {
                        font: bold 24px cursive;
                        text-decoration-line: none;
                        line-height: 58px;
                    }
                }
            }
            .user {
                flex-wrap: nowrap;
                justify-content: flex-end;
                p {
                    font-weight: bold;
                    padding: 0px 11px;
                    word-break: break-word;
                    text-align: right;
                }
                .foto {
                    position: relative;
                    height: 70px;
                    width: 70px;
                    min-width: 70px;
                    min-height: 70px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                        border: 2px solid;
                        border-radius: 50%;
                        padding: 3px;
                    }
                    .settings {
                        position: absolute;
                        top: 0;
                        height: 70px;
                        width: 70px;
                        div {
                            @include display;
                            align-items: center;
                            position: absolute;
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            border: 2px solid;
                            border-radius: 50%;
                            background: #fff;
                            padding: 3px;
                            font-size: 14px;                            
                            i {
                                color: #111;
                            }
                        }
                        div:last-child {
                            bottom: -14px;
                            left: 48%;
                        }
                        div:first-child {
                            right: -14px;
                            top: 48%;
                        }
                    }
                }
                .social {
                    @include display;
                    align-items: center;
                    a {
                        display: block;
                        width: 40px;
                        height: 40px;
                        padding: 3px;
                        margin: 0px 5px;
                        border-radius: 7px;
                        border: 2px solid;
                        img {
                            width: 100%;
                        }
                        &:hover {
                            border: 1px solid;
                        }
                    }
                }
            }
        }
    }
    
    .back_wrap {
        grid-area: back;
        @include display;
        width: 100%;
        min-height: 20px;
        padding: 0px 10px;
        .back_body {
            @include display;
            justify-content: flex-end;
            width: 100%;
            max-width: $maxWidth;
            a {
                text-decoration: none;
                padding-right: 15px;
            }
        }
    }

    section {
        @include display;
        grid-area: section;
        width: 100%;
        min-height: 100px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        margin: 0px auto;
        article{
            width: 100%;
            height: 100%;
            min-height: 400px;
            max-width: $maxWidth;
            border: 1px solid;
            border-radius: 15px;
            padding: 15px;
        }
    }
    
    footer {
        @include display;
        grid-area: footer;
        outline: 1px solid green;
        width: 100%;
        min-height: 100px;
        padding: 15px;
        .footer_wrap {
            outline: 1px solid red;
            width: 100%;
            max-width: $maxWidth;
        }
    }
}

