$maxWidth: 1200px;

$colorBlue: #5681bf;
$colorGreen: #38af5c;
$colorRed: #a34444;
$colorYellow: #acad48;
$colorGrey: #797979;

@mixin display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content auto max-content;
    grid-template-areas: "header" "back" "section" "footer";
    grid-gap: 0px;
    min-width: 250px;
    margin: 0;
    padding: 0px;
    font: 14px cursive;
    .settings_error{
        @include display;
        align-items: center;
        width: 100%;
        height: 24px;
        margin: 10px 0 0 0;
        padding: 0px 10px;
        position: fixed;
        top: 0;
        z-index: 999;
        span {
            display: none;
            position: absolute;
            top: 0;
            width: 97vw;
            height: 98vh;
            text-align: center;
            font-weight: bold;
            background: #ffdcdc;
            margin: 0px auto;
            padding: 47px;
            opacity: 0.6;
        }
        b {
            display: none;
            position: absolute;
            top: 40vh;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 70vw;
            height: 20vh;
            padding: 20px;
            background: #ffffff;
            border: 2px solid #ffdada;
            border-radius: 110px;
        }
    }
    header {
        grid-area: header;
        @include display;
        width: 100%;
        min-height: 100px;
        padding: 15px;
        .wrap {
            @include display;
            justify-content: space-between;
            position: relative;
            width: 100%;
            max-width: $maxWidth;
            border: 1px solid;
            border-radius: 15px;
            padding: 20px;
            margin: 15px 0px 0px 0px;
            .menu {
                display: none;
                flex-wrap: wrap;
                justify-content: center;
                position: absolute;
                min-width: 250px;
                min-height: 10px;
                max-width: 20px;
                opacity: 0;
                font-size: 3px;
                right: 80px;
                top: 130px;
                background-color: #fff;
                border: 2px solid;
                border-radius: 6px 0px 6px 6px;
                padding: 6px 16px;
                z-index: 999;
                &::before {
                    content: '';
                    position: absolute;
                    top: -30px;
                    right: -11px;
                    width: 0px;
                    height: 0px;
                    border-right: 129px solid;
                    border-bottom: 14px solid;
                    border-top: 14px solid transparent;
                    border-left: 114px solid transparent;
                    transform: skew(-34deg);
                }
                ul {
                    width: 100%;
                    list-style-type: none;
                    padding-inline-start: 0px;
                    margin: 10px 0px 10px 0px;
                    li {
                        border-bottom: 1px solid;
                        padding: 0px;
                        margin: 5px 0px 6px 0px;
                        &:hover {
                            border-bottom: 2px solid;
                            margin: 5px 0px 5px 0px;
                        }
                        a {
                            display: block;
                            padding: 8px 0px;
                            text-decoration: none;
                            text-align: center;
                            font-weight: bold;
                        }
                    }
                }
            }
            .menu_show{
                display: flex;
            }
            .logo, .user {
                @include display;
                align-items: center;
                width: 50%;
            }
            .logo{
                justify-content: flex-start;
                span {
                    width: 64px;
                    height: 64px;
                    a {
                        display: block;
                        width: 64px;
                        height: 64px;
                        border: 5px solid;
                        border-radius: 8px;
                        font: bold 32px cursive;
                        text-decoration-line: none;
                        text-align: center;
                        line-height: 50px;
                    }
                }
                p {
                    margin: 0px 0px 0px 7px;
                    a {
                        font: bold 24px cursive;
                        text-decoration-line: none;
                        line-height: 58px;
                    }
                }
            }
            .user {
                flex-wrap: nowrap;
                justify-content: flex-end;
                p {
                    font-weight: bold;
                    padding: 0px 11px;
                    word-break: break-word;
                    text-align: right;
                }
                .foto {
                    position: relative;
                    height: 70px;
                    width: 70px;
                    min-width: 70px;
                    min-height: 70px;
                    margin-right: 20px;
                    margin-bottom: 10px;
                    img {
                        width: 100%;
                        border: 2px solid;
                        border-radius: 50%;
                        padding: 3px;
                    }
                    .settings {
                        position: absolute;
                        top: 0;
                        height: 70px;
                        width: 70px;
                        div {
                            @include display;
                            align-items: center;
                            position: absolute;
                            cursor: pointer;
                            width: 30px;
                            height: 30px;
                            border: 2px solid;
                            border-radius: 50%;
                            background: #fff;
                            padding: 3px;
                            font-size: 14px;
                            i {
                                color: #111;
                            }
                        }
                        div:last-child {
                            bottom: -14px;
                            left: 48%;
                        }
                        div:first-child {
                            right: -14px;
                            top: 48%;
                        }
                    }
                }
                .social {
                    @include display;
                    align-items: center;
                    a {
                        display: block;
                        width: 40px;
                        height: 40px;
                        padding: 3px;
                        margin: 0px 5px;
                        border-radius: 7px;
                        border: 2px solid;
                        img {
                            width: 100%;
                        }
                        &:hover {
                            border: 1px solid;
                        }
                    }
                }
            }
        }
    }

    .back_wrap {
        grid-area: back;
        @include display;
        width: 100%;
        min-height: 20px;
        padding: 0px 10px;
        .back_body {
            @include display;
            justify-content: flex-end;
            width: 100%;
            max-width: $maxWidth;
            a {
                text-decoration: none;
                padding-right: 15px;
            }
        }
    }

    section {
        @include display;
        grid-area: section;
        width: 100%;
        min-height: 100px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        margin: 0px auto;
        article{
            @include display;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            height: 100%;
            min-height: 400px;
            max-width: $maxWidth;
            border: 1px solid;
            border-radius: 15px;
            padding: 15px;
            > button {
                cursor: pointer;
                position: relative;
                width: 96%;
                max-width: 800px;
                height: fit-content;
                padding: 25px 55px 25px 10px;
                margin: 15px auto;
                font-size: 16px;
                font-weight: bold;
                border: 1px solid;
                border-radius: 7px;
                background: #ffffff;
                &:hover {
                    box-shadow: 0px 0px 3px;
                }
                i, .fas, .fa {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: 0px;
                    border: 1px solid;
                    border-left: 2px solid;
                    width: 50px;
                    height: 100%;
                    font-size: 18px;
                    border-radius: 0px 6px 6px 0px;
                }
            }
            hr {
                width: 94%;
                max-width: 600px;
                border: 0px;
                height: 1px;
                background: #cbcbcb;
                outline: 0px;
                margin: 20px 0px;
            }
            i {
                cursor: pointer;
            }
            h3 {
                @include display;
                position: relative;
            }
            .title_line {
                position: absolute;
                width: 90%;
                border: 1px solid;
                bottom: -7px;
            }
            .about_wrap, .contacts_wrap, .settings_wrap {
                width: fit-content;
                padding-top: 20px;
                max-width: 450px;
            }
            .contacts_wrap {
                text-align: center;
                a {
                    display: block;
                    margin: 15px 5px;
                }
            }
            .settings_wrap {
                @include display;
                width: 100%;
                max-width: 100%;
                margin-bottom: 40px;
                padding-top: 2px;
                .box {
                    @include display;
                    flex-wrap: nowrap;
                    align-items: center;
                    width: 100%;
                    max-width: 600px;
                    min-height: 10px;
                    border-bottom: 1px solid;
                    > p {
                        @include display;
                        align-items: center;
                        justify-content: flex-start;
                        width: 210px;
                        height: 45px;
                        margin: 10px 10px 10px 0;
                        font-weight: bold;
                        text-align: left;
                        word-break: break-word;
                    }
                    .body {
                        width: 100%;
                        height: 45px;
                        margin: 20px 0px;
                        .localization, .language, .voice, .speed, .pitch, .color {
                            @include display;
                            flex-wrap: nowrap;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            min-height: 45px;
                            button, select, input {
                                &:disabled {
                                    cursor: no-drop;
                                }
                            }
                            div, button {
                                @include display;
                                flex-wrap: nowrap;
                                align-items: center;
                                margin: 0px 3px;
                                cursor: pointer;
                                border: 1px solid;
                                border-radius: 6px;
                                p {
                                    margin: 0 7px 0 0;
                                    word-break: break-word;
                                    text-align: center;
                                    line-height: 15px;
                                }
                            }
                            button {
                                background: #fff;
                            }
                        }
                        .speed, .pitch {
                            input[type=range] {
                                outline: 0;
                                width: 100%;
                                height: 40px;
                                border: 1px solid;
                                border-radius: 6px;
                                margin-right: 10px;
                                font-weight: bold;
                                padding: 0px;
                            }
                            div {
                                width: 50px;
                                height: 40px;
                                font-weight: bold;
                            }
                        }
                        .voice {
                            select {
                                outline: 0;
                                width: 100%;
                                height: 40px;
                                border: 1px solid;
                                border-radius: 6px;
                                font-weight: bold;
                                padding: 0px 10px;
                            }
                        }
                        .localization {
                            button {
                                width: 48%;
                                height: 40px;
                                span {
                                    height: 30px;
                                    width: 30px;
                                    border: 2px solid;
                                    border-radius: 6px;
                                    background-clip: content-box;
                                    padding: 3px;
                                }
                            }
                        }
                        .language {
                            .active {
                                img {
                                    height: 70%;
                                    opacity: 1;
                                    border: 2px solid;
                                    border-radius: 22px;
                                    padding: 1px;
                                }
                            }
                            button {
                                height: 40px;
                                min-width: 40px;
                                width: 100%;
                                &:hover > img {
                                    opacity: 1;
                                }
                                img {
                                    height: 70%;
                                    opacity: 0.5;
                                    border: 1px solid;
                                    border-radius: 22px;
                                    padding: 2px;
                                }
                            }
                        }
                        .color {
                            button {
                                width: 100%;
                                height: 40px;
                                min-width: 34px;
                            }
                            .blue, .green, .red, .yellow, .grey {
                                padding: 5px;
                                background-clip: content-box;
                                opacity: 0.5;
                                &:hover {
                                    padding: 4px;
                                    border: 2px solid;
                                    opacity: 1;
                                }
                            }
                            .blue {
                                background-color: $colorBlue;
                            }
                            .green {
                                background-color: $colorGreen;
                            }
                            .red {
                                background-color: $colorRed;
                            }
                            .yellow {
                                background-color: $colorYellow;
                            }
                            .grey {
                                background-color: $colorGrey;
                            }
                            .active {
                                padding: 4px;
                                border: 2px solid;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        @include display;
        grid-area: footer;
        width: 100%;
        min-height: 100px;
        padding: 5px 15px 15px 15px;
        .footer_wrap {
            width: 100%;
            max-width: $maxWidth;
            p {
                margin: 0px;
                text-align: center;
                font-size: 12px;
            }
            ul {
                @include display;
                list-style-type: none;
                padding-inline-start: 0px;
                margin: 0px 10px 10px 10px;
                font-size: 12px;
                li {
                    padding: 0px 5px;
                    margin: 5px;
                    a {
                        padding: 8px 0px;
                        text-decoration: none;
                        text-align: center;
                        font-weight: bold;

                        &:hover {
                            text-decoration-line: underline;
                        }
                    }
                }
            }
        }
    }

    .add_btn_wrap {
        @include display;
        position: absolute;
        justify-content: end;
        align-items: end;
        width: 100%;
        height: 100%;
        margin: 0;
        padding-bottom: 15px;
        i {
            @include display;
            align-items: center;
            position: sticky;
            bottom: 20px;
            font-size: 26px;
            width: 56px;
            height: 56px;
            margin: 20px;
            border: 2px solid;
            border-radius: 9px;
        }
    }
}

input[type=range] {
    height: 26px;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px;
    border: 0px solid;
    height: 120px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid;
}
input[type=range]::-moz-range-thumb {
    border: 0px solid;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid;
    border-radius: 28px;
    box-shadow: 1px 1px 1px;
}
input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid;
    border-radius: 28px;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    border: 0px solid;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
}