* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content max-content auto max-content;
  grid-template-areas: "header" "back" "section" "footer";
  grid-gap: 0px;
  min-width: 250px;
  margin: 0;
  padding: 0px;
  font: 14px cursive;
}
body header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  padding: 15px;
}
body header .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  max-width: 1200px;
  border: 1px solid;
  border-radius: 15px;
  padding: 20px;
  margin: 15px 0px 0px 0px;
}
body header .wrap .menu {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  min-width: 250px;
  min-height: 10px;
  max-width: 20px;
  opacity: 0;
  font-size: 3px;
  right: 80px;
  top: 130px;
  background-color: #fff;
  border: 2px solid;
  border-radius: 6px 0px 6px 6px;
  padding: 6px 16px;
}
body header .wrap .menu::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -11px;
  width: 0px;
  height: 0px;
  border-right: 129px solid;
  border-bottom: 14px solid;
  border-top: 14px solid transparent;
  border-left: 114px solid transparent;
  transform: skew(-34deg);
}
body header .wrap .menu ul {
  width: 100%;
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 10px 0px 10px 0px;
}
body header .wrap .menu ul li {
  border-bottom: 1px solid;
  padding: 0px;
  margin: 5px 0px 6px 0px;
}
body header .wrap .menu ul li:hover {
  border-bottom: 2px solid;
  margin: 5px 0px 5px 0px;
}
body header .wrap .menu ul li a {
  display: block;
  padding: 8px 0px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
body header .wrap .menu_show {
  display: flex;
}
body header .wrap .logo, body header .wrap .user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}
body header .wrap .logo {
  justify-content: flex-start;
}
body header .wrap .logo span {
  width: 64px;
  height: 64px;
}
body header .wrap .logo span a {
  display: block;
  width: 64px;
  height: 64px;
  border: 5px solid;
  border-radius: 8px;
  font: bold 32px cursive;
  text-decoration-line: none;
  text-align: center;
  line-height: 50px;
}
body header .wrap .logo p {
  margin: 0px 0px 0px 7px;
}
body header .wrap .logo p a {
  font: bold 24px cursive;
  text-decoration-line: none;
  line-height: 58px;
}
body header .wrap .user {
  flex-wrap: nowrap;
  justify-content: flex-end;
}
body header .wrap .user p {
  font-weight: bold;
  padding: 0px 11px;
  word-break: break-word;
  text-align: right;
}
body header .wrap .user .foto {
  position: relative;
  height: 70px;
  width: 70px;
  min-width: 70px;
  min-height: 70px;
  margin-right: 20px;
  margin-bottom: 10px;
}
body header .wrap .user .foto img {
  width: 100%;
  border: 2px solid;
  border-radius: 50%;
  padding: 3px;
}
body header .wrap .user .foto .settings {
  position: absolute;
  top: 0;
  height: 70px;
  width: 70px;
}
body header .wrap .user .foto .settings div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
  font-size: 14px;
}
body header .wrap .user .foto .settings div i {
  color: #111;
}
body header .wrap .user .foto .settings div:last-child {
  bottom: -14px;
  left: 48%;
}
body header .wrap .user .foto .settings div:first-child {
  right: -14px;
  top: 48%;
}
body header .wrap .user .social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body header .wrap .user .social a {
  display: block;
  width: 40px;
  height: 40px;
  padding: 3px;
  margin: 0px 5px;
  border-radius: 7px;
  border: 2px solid;
}
body header .wrap .user .social a img {
  width: 100%;
}
body header .wrap .user .social a:hover {
  border: 1px solid;
}
body .back_wrap {
  grid-area: back;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 20px;
  padding: 0px 10px;
}
body .back_wrap .back_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
}
body .back_wrap .back_body a {
  text-decoration: none;
  padding-right: 15px;
}
body section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: section;
  width: 100%;
  min-height: 100px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  margin: 0px auto;
}
body section article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-height: 400px;
  max-width: 1200px;
  border: 1px solid;
  border-radius: 15px;
  padding: 15px;
}
body section article h3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
body section article .title_line {
  position: absolute;
  width: 90%;
  border: 1px solid;
  bottom: -7px;
}
body section article .about_wrap, body section article .contacts_wrap, body section article .settings_wrap {
  width: fit-content;
  padding-top: 20px;
  max-width: 450px;
}
body section article .contacts_wrap {
  text-align: center;
}
body section article .contacts_wrap a {
  display: block;
  margin: 15px 5px;
}
body section article .settings_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}
body section article .settings_wrap > .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 600px;
  min-height: 10px;
  border-bottom: 1px solid;
}
body section article .settings_wrap > .box > p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  width: 160px;
  height: 45px;
  margin: 0 10px 0 0;
  font-weight: bold;
  text-align: left;
}
body section article .settings_wrap > .box > .body {
  width: 100%;
  height: 45px;
  margin-bottom: 30px;
}
body section article .settings_wrap > .box > .body .interface, body section article .settings_wrap > .box > .body .lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 45px;
}
body section article .settings_wrap > .box > .body .interface div, body section article .settings_wrap > .box > .body .lang div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
  width: 48%;
  height: 40px;
}
body section article .settings_wrap > .box > .body .interface div p, body section article .settings_wrap > .box > .body .lang div p {
  margin: 0 7px 0 0;
  word-break: break-word;
  text-align: center;
  line-height: 15px;
}
body section article .settings_wrap > .box > .body .interface div span, body section article .settings_wrap > .box > .body .lang div span {
  height: 30px;
  width: 30px;
  border: 2px solid;
  border-radius: 6px;
  background-clip: content-box;
  padding: 3px;
}
body section article .settings_wrap > .box > .body .lang > div {
  height: 40px;
  max-width: 60px;
}
body footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: footer;
  width: 100%;
  min-height: 100px;
  padding: 5px 15px 15px 15px;
}
body footer .footer_wrap {
  width: 100%;
  max-width: 1200px;
}
body footer .footer_wrap p {
  margin: 0px;
  text-align: center;
  font-size: 12px;
}
body footer .footer_wrap ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding-inline-start: 0px;
  margin: 0px 10px 10px 10px;
  font-size: 12px;
}
body footer .footer_wrap ul li {
  padding: 0px 5px;
  margin: 5px;
}
body footer .footer_wrap ul li a {
  padding: 8px 0px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
body footer .footer_wrap ul li a:hover {
  text-decoration-line: underline;
}

/*# sourceMappingURL=body.css.map */
